services:
  backend:
    container_name: backend
    build: .
    ports:
      - '3000:3000'
    env_file:
      - ${ENV_FILE_PATH:-.env.staging}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - htf-network
    volumes:
      - htf_logs:/var/log/htf

  postgres:
    container_name: postgres
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=prisma
    expose:
      - '5432'
    networks:
      - htf-network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d postgres']
      interval: 5s
      timeout: 2s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c listen_addresses='*'
    logging:
      options:
        max-size: '10m'
        max-file: '3'

networks:
  htf-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  htf_logs:
    driver: local
